In [49]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [51]:
host = r'127.0.0.1' # denotes that the db in a local installation
db = r'MSDS610' # db we just created
user = r'postgres' # using the postgres user for this demo
pw = r'3637' # this is the password established during installation
port = r'5432' # default port estabalished during install
schema = r'raw' # schema we just created

In [53]:
engine = create_engine(f'postgresql://{user}:{pw}@{host}:{port}/{db}')

In [55]:
# Extract data from the database
carprices_data = pd.read_sql_table('carprices_data', engine, schema=schema)
carprices_data.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [57]:
carprices_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [59]:
# Checking Null value percentage
carprices_data.isnull().sum()/len(carprices_data)*100

year             0.000000
make             1.843292
model            1.860829
trim             1.905922
body             2.361154
transmission    11.694287
vin              0.000716
state            0.000000
condition        2.115107
odometer         0.016821
color            0.134028
interior         0.134028
seller           0.000000
mmr              0.006800
sellingprice     0.002147
saledate         0.002147
dtype: float64

In [61]:
# Dropping the rows with null values in more than 50% of the columns
carprices_data = carprices_data.dropna(thresh=carprices_data.shape[1]*0.5)
carprices_data.isnull().sum()/len(carprices_data)*100

year             0.000000
make             1.843292
model            1.860829
trim             1.905922
body             2.361154
transmission    11.694287
vin              0.000716
state            0.000000
condition        2.115107
odometer         0.016821
color            0.134028
interior         0.134028
seller           0.000000
mmr              0.006800
sellingprice     0.002147
saledate         0.002147
dtype: float64

In [62]:
# Drop the records where they don't have a make , model , body and style
carprices_data = carprices_data.dropna(subset=['make', 'model', 'body', 'transmission'])
carprices_data.isnull().sum()/len(carprices_data)*100

year            0.000000
make            0.000000
model           0.000000
trim            0.000000
body            0.000000
transmission    0.000000
vin             0.000829
state           0.000000
condition       1.960979
odometer        0.011402
color           0.119620
interior        0.119620
seller          0.000000
mmr             0.007671
sellingprice    0.002280
saledate        0.002280
dtype: float64

In [64]:
# Imputing the missing values in the columns with mode value and median value based on the data type
carprices_data['condition'] = carprices_data['condition'].fillna(carprices_data['condition'].mean())
carprices_data['odometer'] = carprices_data['odometer'].fillna(carprices_data['odometer'].mean())
carprices_data['color'] = carprices_data['color'].fillna(carprices_data['color'].mode()[0])
carprices_data['interior'] = carprices_data['interior'].fillna(carprices_data['interior'].mode()[0])

for parameter in ['mmr', 'sellingprice']:
    carprices_data[parameter] = carprices_data[parameter].fillna(carprices_data[parameter].median())

In [65]:
carprices_data.isnull().sum()/len(carprices_data)*100

year            0.000000
make            0.000000
model           0.000000
trim            0.000000
body            0.000000
transmission    0.000000
vin             0.000829
state           0.000000
condition       0.000000
odometer        0.000000
color           0.000000
interior        0.000000
seller          0.000000
mmr             0.000000
sellingprice    0.000000
saledate        0.002280
dtype: float64

In [68]:
# Rest dropping the rows with null values
carprices_data = carprices_data.dropna()

In [70]:
from sqlalchemy import text

# Create new schema 'cleaned' in the database if it doesn't exist
with engine.connect() as connection:
    connection.execute(text('CREATE SCHEMA IF NOT EXISTS cleaned;'))

In [73]:
# Categorical mapping and dimensional table creation for below columns
"""
1. make
2. model
3. body
4. transmission
5. color [color_id, color] colors table
6. interior [color_id, color] colors table
7. state
"""

# create a dictionary for the above columns and create the tables in the database # note for color and interior we need to create a separate single table (colours)
categorical_columns = ['make', 'model', 'body', 'transmission', 'color', 'interior', 'state']

for column in categorical_columns:
    if column == 'color' or column == 'interior':
        table_name = 'colors'
        colours = pd.DataFrame(carprices_data[column].unique(), columns=[column])
        colours = colours.reset_index(drop=True).reset_index()
        colours = colours.rename(columns={'index': f'{column}_id'})
        colours.to_sql(table_name, engine, schema='cleaned', if_exists='replace', index=False)

        # map the color_id to the ids in the data frame
        carprices_data[column] = carprices_data[column].map(colours.set_index(column)[f'{column}_id'])


    else:
        table_name = column
        column_data = pd.DataFrame(carprices_data[column].unique(), columns=[column])
        column_data = column_data.reset_index(drop=True).reset_index()
        column_data = column_data.rename(columns={'index': f'{column}_id'})
        column_data.to_sql(table_name, engine, schema='cleaned', if_exists='replace', index=False)

        # map the column to the ids in the data frame
        carprices_data[column] = carprices_data[column].map(column_data.set_index(column)[f'{column}_id'])

In [74]:
carprices_data.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,0,0,LX,0,0,5xyktca69fg566472,0,5.0,16639.0,0,0,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,0,0,LX,0,0,5xyktca69fg561319,0,5.0,9393.0,0,1,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,1,1,328i SULEV,1,0,wba3c1c51ek116351,0,45.0,1331.0,1,0,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,2,2,T5,1,0,yv1612tb4f1310987,0,41.0,14282.0,0,0,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,1,3,650i,1,0,wba6b2c57ed129731,0,43.0,2641.0,1,0,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [75]:
# push fact table to the database
carprices_data.to_sql('carprices_data', engine, schema='cleaned', if_exists='replace', index=False, chunksize=1000, method='multi')

482346